<!-- Booking Summary -->
<div class="booking-form">
    <h2>Booking Summary</h2>
    <div class="summary-item">
        <span class="label">Room Type:</span>
        <span class="value" id="roomType">Loading...</span>
    </div>
    <div class="summary-item">
        <span class="label">Check-in Date:</span>
        <span class="value" id="checkInDate">Loading...</span>
    </div>
    <div class="summary-item">
        <span class="label">Check-out Date:</span>
        <span class="value" id="checkOutDate">Loading...</span>
    </div>
    <div class="summary-item">
        <span class="label">Number of Nights:</span>
        <span class="value" id="numberOfNights">Loading...</span>
    </div>
    <div class="summary-item">
        <span class="label">Number of Guests:</span>
        <span class="value" id="numberOfGuests">Loading...</span>
    </div>
    <div class="summary-item summary-total">
        <span class="label">Total Amount:</span>
        <span class="value" id="totalAmount">Loading...</span>
    </div>
</div>
