<footer id="contact">
    <div class="main-content">
      <div class="left box">
        <h2>About us</h2>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque fermentum eros, et tristique nunc malesuada eu. Proin sed elit est. Aenean iaculis quam id purus rutrum, non fringilla urna sagittis. Pellentesque habitant morbi tristique senectus et netus et </p>
          <div class="social">
            <a href="#"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>
  
      <div class="center box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text"> BP 4553 Ndjamena, N'Djamena, Chad</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+235-22534585</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">leprocess@intnet.td</span>
          </div>
        </div>
      </div>

      <div class="right box">
        <h2>Quick Links</h2>
        <div class="content">
          <ul class="quick-links">
            <li>
              <a href="/BookNow">
                <span class="fas fa-concierge-bell"></span>
                <span>Book Now</span>
              </a>
            </li>
            <li>
              <a href="/dining">
                <span class="fas fa-utensils"></span>
                <span>Restaurant & Bar</span>
              </a>
            </li>
            <li>
              <a href="/special-offers">
                <span class="fas fa-gift"></span>
                <span>Special Offers</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom">
      <center>
        <span class="credit">Created By <a>Gloria Djonret</a> | </span>
        <span class="fas fa-copyright"></span>
        <span> 2023 All rights reserved.</span>
      </center>
    </div>
  </footer>