<div class="navbar">
    <div class="contact-info">
        Quartier Dembé - Bp.4553, N'Djamena | <i class="fas fa-phone"></i> +235 22 53 45 85
    </div>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</div>

<nav class="navbar-custom">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="hotel-logo">
            Hôtel Le Process
        </div>
        <div class="d-flex align-items-center">
            <ul class="nav me-3">
                <li><a href="/" class="nav-link px-2 text-dark">Home</a></li>
                <li><a href="/#about" class="nav-link px-2 text-dark">About</a></li>
                <li><a href="/#contact" class="nav-link px-2 text-dark">Contact</a></li>
            </ul>
            <form class="search-form me-3">
                <div class="input-group">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    <button class="btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <a href="BookNow">
                <button type="button" class="btn" onclick="sessionStorage.clear()">Book Now</button>
            </a>
        </div>
    </div>
</nav>

<div class="content"></div>