<div class="sidebar">
    <div class="sidebar-header">
        <h2>Hotel Le Process</h2>
    </div>
    <div class="profile">
        <h3>John Deo</h3>
        <p>Manager</p>
    </div>
    <nav>
        <ul>
            <li class="active"><i class="fas fa-home"></i> Dashboard</li>
            <li><a href="/Booking" style="color: white; text-decoration: none;"><i class="fas fa-book"></i> Booking</a></li>
            <li><a href="/Room" style="color: white; text-decoration: none;"><i class="fas fa-bed"></i> Rooms</a></li>
            <li><a href="/staff" style="color: white; text-decoration: none;"><i class="fas fa-users"></i> Staff </a></li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <header>
        <div class="header-left">
            <i class="fas fa-bars"></i>
            <input type="text" placeholder="Search...">
        </div>
        <div class="header-right">
            <i class="fas fa-bell"></i>
            <i class="fas fa-envelope"></i>
            <i class="fas fa-user"></i>
            <div class="dropdown">
                <span>John <i class="fas fa-caret-down"></i></span>
                <div class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>